include *.txt
include *.md
include *.cfg
include *.sav
recursive-include ./kmeans_Digits/*

include kmeans_Digits/data/.*
include kmeans_Digits/kmeans_model/.*
include kmeans_Digits/VERSION

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]